@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #0f172a;
    --secondary-color: #f6ac0f;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f8fafc;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: 'Playfair Display', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_subheader{
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
}

.section_header{
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
}

.section_description{
    margin-top: 1rem;
    color: var(--text-light);
}

.btn{
    padding: 0.75rem 2rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section_nav{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section_nav span{
    padding: 10px 15px;
    font-size: 1.25rem;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.section_nav span:hover{
    background-color: var(--secondary-color);
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    color: var(--text-light);
    letter-spacing: 2px;
}

.logo div{
    padding-inline: 12px;
    font-size: 2rem;
}

img, 
video{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
    color: var(--text-light);
}

html,
body{
    scroll-behavior: smooth;
}

body{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav_bar{
    position: relative;
    isolation: isolate;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav_header{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--extra-light);
}

.nav_menu_btn {
    font-size: 1.5rem;
    color: var(--text-dark);
    cursor: pointer;
}

.nav_links{
    list-style: none;
    position: absolute;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--white);
    transform: translateY(-100%);
    transition: 0.5s;
    z-index: -1;
}

.nav_links.open {
    transform: translateY(0);
}

.nav_links a{
    color: var(--text-light);
    transition: 0.3s;
}

.nav_links a:hover{
    color: var(--secondary-color);
}

.header{
    padding-block: 5rem;
    background-image:  linear-gradient(
        rgba(15, 26, 44, 0.5),
        rgba(15, 26, 44, 0.5)
        ), url("../Pics/landing_page_image.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header_container .section_subheader{
    color: var(--white);
}

.header_container h1{
    margin-bottom: 2rem;
    font-size: 6rem;
    font-weight: 800;
    line-height: 7rem;
    font-family: var(--header-font);
    color: var(--white);
}

.booking{
    background-color: var(--primary-color);
}

.booking_container form{
    max-width: 350px;
    margin: auto;
    display: grid;
    gap: 2rem;
}

.input_group{
    display: grid;
    gap: 1rem;
}

.input_group label{
    font-weight: 600;
    color: var(--white);
}

.input_group input{
    width: 100%;
    font-size: 1rem;
    padding: .5rem;
    color: var(--white);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--text-light);
    border-radius: 5px;
}

.input_group input::placeholder{
    color: var(--text-light);
}

.about{
    position: relative;
    isolation: isolate;
}

.about::before{
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    height: 75%;
    width: 100%;
    background-image: url("assets/#");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.05;
    z-index: -1;
}

.about_container{
    display: grid;
    gap: 4rem 2rem;
    align-items: center;/*trying out*/
}

.about_grid{
    display: grid;
    gap: 1rem;
}

.about_card{
    height: 100%;
    padding: 2rem;
    display: grid;
    place-content: center;
    text-align: center;
}

.about_card span{
    margin-bottom: 1rem;
    font-size: 3rem;
    color: var(--secondary-color);
}

.about_card h4{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
}

.about_card p{
    color: var(--text-light);
}

.about_card:nth-child(4){
    background-color: var(--primary-color);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.about_card:nth-child(4) :is(h4, p){
    color: var(--white);
}

.about_image img{
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.about_content .section_description{
    margin-bottom: 2rem;
}

.room_container{
    padding-block: 5rem;
}

.room_container :is(.section_subheader, .section_header){
    padding-inline: 1rem;
    text-align: center;
}

.room_grid{
    max-width: 1500px;
    margin-inline: auto;
    margin-top: 4rem;
    display: grid;
    gap: 0 1rem;
}

.room_card img{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.room_card_details{
    margin-inline: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--white);
    transform: translateY(-50%);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.room_card_details h4{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
}

.room_card_details p{
    color: var(--text-light);
}

.room_card_details h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.room_card_details h3 span{
    font-size: 0.8rem;
}

.intro{
    position: relative;
    isolation: isolate;
    background-color:  var(--primary-color);
}

.intro::before{
    position: absolute;
    content: "";
    right: 0;
    height: 100%;
    width: calc(100vw / 4);
    background-color: var(--secondary-color);
    z-index: -1;
}

.intro_container{
    display: grid;
    gap: 4rem 2rem;
}

.intro_container :is(.section_header, .section_description){
    margin-bottom: 1rem;
    color: var(--white);
}

.intro_video{
    max-width: 450px;
    margin: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)
}

.feature_container :is(.section_subheader, .section_header){
    text-align: center;
}

.feature_grid{
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
}

.feature_card span{
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.feature_card h4{
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
    counter-reset: var(--text-dark);
}

.feature_card p{
    color: var(--text-light);
}

.menu{
    background-color: var(--extra-light);
}

.menu_header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu_items{
    list-style: none;
    margin-block: 4rem;
    display: grid;
    gap: 1rem 4rem;
}

.menu_items li{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.menu_items li:hover{
    background-color: var(--primary-color);
}

.menu_items img{
    max-width: 100px;
    border-radius: 2px;
}

.menu_items h4{
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
    transition: 0.3s;
}

.menu_items p{
    max-width: 400px;
    color: var(--text-light);
    transition: 0.3s;
}

.menu_items li:hover :is(h4, p){
    color: var(--white);
}

.menu_images{
    display: grid;
    gap: 1rem;
    margin-bottom: 4rem;
}

.menu_images img{
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.menu_banner{
    list-style: none;
    padding: 4rem 2rem;
    display: grid;
    gap: 2rem;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.menu_banner span{
    font-size: 3rem;
    color: var(--secondary-color);
}

.menu_banner h4{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--white);
}

.menu_banner p{
    color: var(--text-light);
}

.news_header{
    display: flex;
    flex-direction: column;;
    gap: 2rem;
}

.news_grid{
    margin-top: 4rem;
    display: grid;
    gap: 2rem 1rem;
}

.news_card img{
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.news_card_title{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news_card_title p{
    font-weight: 500;
    color: var(--text-light);
}

.news_card h4{
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
}

.news_card p{
    color: var(--text-light);
}

.footer{
    background-color: var(--primary-color);
}

.footer_container{
    display: grid;
    gap: 4rem 2rem;
}
.footer_logo{
    color: var(--white);
    margin-bottom: 1rem;
}

.footer_logo div{
    background-color: var(--secondary-color);
}
.footer_socials{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    }

    .footer_socials a{
        padding: 6px 10px;
        font-size: 1.25rem;
        color: var(--text-light);
        background-color: var(--white);
        border-radius: 100%;
        cursor: pointer;
        transition: 0.3s;
    }

.footer_socials a:hover{
    color: var(--white);
    background-color: var(--secondary-color);
}

.footer_col h4{
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--white);
}

.footer_links{
    list-style: none;
}

.footer_links li{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer_links a{
    color: var(--text-light);
    transition: 0.3s;
}

.footer_links a:hover{
    color: var(--secondary-color);
}

.footer_col:last-child .footer_links li{
    margin-bottom: 2rem;
}

.footer_links span{
    font-size: 2rem;
    color: var(--secondary-color);
}

.footer_links h5{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--white);
}

.footer_links p{
    color: var(--text-light);
}

.footer_bar{
    margin-top: 4rem;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
    border-top: 1px solid var(--text-light);
    color: var(--text-light);
}

@media(width > 480px){
    .about_grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .about_image:nth-child(1){
        grid-area: 1 / 2 / 2 /3;
    }

    .about_image:nth-child(1),
    .about_card:nth-child(4){
        transform: translateY(2rem);
    }

    .feature_grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .menu_images{
        grid-template-columns: repeat(2, 1fr);
    }

    .menu_banner{
        grid-template-columns: repeat(2, 1fr);
    }

    .news_grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_container{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_col:first-child{
        grid-column: 1 / 3;
    }
}

@media(width > 768px){
    nav{
        position: static;
        padding-inline: 1rem;
        background-color: var(--primary-color);
    }

    .nav_bar{
        max-width: var(--max-width);
        margin: auto;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--extra-light);
        border-radius: 5px;
        transform: translateY(50%);
    }

    .nav_header{
        padding: 0;
        background-color: transparent;
    }

    .nav_menu_btn{
        display: none;
    }

    .nav_links{
        width: fit-content;
        padding: 0;
        position: static;
        flex-direction: row;
        transform: none;
        background-color: transparent;
    }

    .booking-container form{
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .about::before{
        width: 75%;
        height: 75%;
    }

    .about_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
.room_grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .intro_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .feature_grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .menu_header{
        flex-direction: row;
    }

    .menu_items{
        grid-template-columns: repeat(2, 1fr);
    }

    .menu_images{
        grid-template-columns: repeat(3, 1fr);
    }

    .menu_banner{
        grid-template-columns: repeat(4, 1fr);
    }

    .news_header{
        flex-direction: row;
    }

    .news_grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer_container{
        grid-template-columns: repeat(4, 1fr);
    }
}


    @media (width > 1024px){
        .about_grid{
            gap: 2rem;
        }

        .room_grid{
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }

        .menu_images{
            gap: 2rem;
        }  
    }